@charset "utf-8";

/* CSS Document */
*{margin:0; padding:0;list-style-type:none;}
body{font-size:14px; font-family:"微软雅黑"}
a{text-decoration:none;}
ul li{list-style:none;}
a,img{border:0;}
     
.top{width:1200px; height:90px; margin:0 auto 10px; }
.logo{width:268px; height:70px; float:left; padding:10px;}
.so{width:390px; height:90px; float:right;}

.search{width:390px; height:40px;}
.so_te{width:390px; line-height:40px; text-align:right; color:#333;}
.so_te a{color:#333;}
.so_te a:hover{color:#ff8a00;}
.in_se{width:323px; height:38px; line-height:38px; border:#209192 solid 1px; float:left; padding-left:5px; font-size:16px;}
.in_bot{width:59px; height:40px; background:url(../images/sosuo.png) no-repeat; border:none;float:left; cursor:pointer;}


.nav{width:100%; height:50px; background:#4caeae; clear:both; }
.nav ul{width:1200px; height:40px; margin:0 auto; font-size:16px; line-height:50px;}
.nav ul li{width:150px; height:50px; float:left; text-align:center; margin-left:20px;}
.nav ul li a{color:#fff; display:block;width:150px; height:50px;}
.nav ul li a:hover{background:#209192;}
#nav{width:1200px; height:50px; background:#4caeae; clear:both;}
#nav .nav-item,#nav .nav-link{position:relative;float:left;display:block;color:#444;z-index:1000;}
#nav .nav-dropdown{display:none;position:absolute;top:60px;left:-1px;width:150px;height:auto;z-index:998; background:#4caeae;}

/*首页css*/

/* mainbanner */
.mainbanner{height:450px;overflow:hidden; position:relative;}
.mainbanner_window{left:50%;width:2000px;height:450px;overflow:hidden;margin-left:-1000px;position:absolute;}
.mainbanner_window ul{width:999999px;height:450px;position:relative;}
.mainbanner_window li{width:2000px;height:450px;text-align:center;font-size:0px;float:left;display:inline;}
.mainbanner_list{left:50%;top:350px;width:500px;height:30px;margin-left:-75px;position:absolute;}
.mainbanner_list li{width:30px;height:30px;overflow:hidden;float:left;display:inline;}
.mainbanner_list a{background:url("../images/50c15ece07fd0f3407000083.png") no-repeat;width:25px;height:25px;line-height:25px;overflow:hidden;text-align:center;color:rgb(255, 255, 255);font-size:12px;font-weight:700;float:left;display:inline-block;}
.mainbanner_list li.active a{background-position:0 -30px;text-decoration:none;}
.mainbanner_list li a:hover{background-position:0 -30px;text-decoration:none;}



.rd_nav{width:1200px; height:250px; padding:20px 0; margin:0 auto;}
.rd_nav li{float:left;}
.li_center{margin:0 81px;}
.rd_nav a{color:#333; display:block; width:346px; height:260px; font-size:20px; text-align:center; line-height:40px;}
.rd_nav a:hover{color:#ff8a00;}
/*center公共代码*/
.center{width:1200px; height:auto; overflow:hidden; margin:15px auto 0; padding-bottom:20px;}
.cen_left{width:795px; height:auto; overflow:hidden; float:left;}
.cen_right{width:365px; height:auto; overflow:hidden; float:right;}
.left_nav{width:95%; height:48px; line-height:48px; padding-left:40px; background:#f4f4f4 url(../images/rd_icon.png) 10px 16px no-repeat; border-bottom:#209192 2px solid; font-size:18px; color:#333;}
.left_nav span,.right_nav span{float:right; margin-right:10px;}
.left_nav span a,.right_nav span a{color:#333;}
.left_nav span a:hover,.right_nav span a:hover{color:#ff8a00;}

.right_nav{width:90%; height:48px; line-height:48px; padding-left:40px; background:#f4f4f4 url(../images/rd_icon.png) 10px 16px no-repeat; border-bottom:#209192 2px solid; font-size:18px; color:#333;}



/*公司介绍*/
.about_us{width:795px; height:auto; overflow:hidden; margin:0 auto;}
.about_text{width:795px; height:202px; padding:20px 0;}
.about_text .pic{float:left; width:290px;}
.about_text .text{float:right; width:500px; line-height:33px; font-size:16px; color:#333;}
.about_text .text a{color:#ff8a00;}
.about_text .text a:hover{color:#333;}
/*项目推荐*/
.item{clear:both;}
.item ul{padding:30px 0 0; clear:both;}
.item ul li{ float:left; margin-bottom:42px;}
.item ul li a{display:block;width:360px; height:370px; background:#f6f6f6; border:1px #ccc solid; color:#333;}
.item ul li a h2{color:#ff8a00; font-size:18px; line-height:30px; width:90%; margin:5px auto 10px;}
.item ul li a p{ font-size:16px; line-height:25px; width:90%; margin:0 auto;}
.item ul li a img{display:block; margin:0 auto; padding:20px 0;}
.item ul li a:hover{ background:#fff; border:1px #ff8a00 solid; color:#ff8a00;}
.li_l{margin-right:42px; margin-left:10px;}
/*新闻动态*/
.news{width:365px; height:auto; overflow:hidden; padding-bottom:30px;}
.news li{width:100%; height:52px; line-height:52px; border-bottom:#ccc dashed 1px;font-size:16px;}
.news li a{color:#333;}
.news li a:hover{color:#ff8a00;}
/*资料领取*/
.datum{font-size:16px; color:#333; height:auto; overflow:hidden; padding-bottom:40px;}
.datum span{display:block; width:305px; height:50px; margin:10px auto; line-height:50px; background:#f6f6f6 url(../images/ziliao.png) 10px 10px no-repeat; padding-left:50px; }
.datum .tex{width:300px; height:48px; border:1px solid #ccc; background:#fff; padding-left:10px;}
.datum .bot{width:345px; height:56px; border:none; background:url(../images/butt.png) no-repeat; line-height:56px; text-align:center; color:#fff; font-size:16px; float:right; cursor:pointer; font-weight:bold;}
.datum  p{line-height:35px;}
/*最新项目*/
.new_project{width:1200px; height:260px; margin:0 auto 50px;}
.new_project a{color:#333;}
.new_project a:hover{color:#F90;}
.new_project ul{padding-top:20px;}
.new_project li{width:274px; height:216px; float:left; margin-left:17px;}
.new_project li p{border-bottom-width:100%; height:40px; line-height:40px; text-align:center; font-size:16px;}

.hezuo{width:1200px; height:auto; overflow:hidden;margin:0 auto 50px;}
.hezuo ul{padding-top:20px;}
.hezuo li{width:180px; height:80px; float:left; margin-right:20px;}

/*二级页面代码*/
.list_sx{width:1200px; height:auto; overflow:hidden;}
.list_nav{width:1200px; height:40px; border-bottom:2px solid #209192; line-height:40px; font-size:16px; color:#333; margin-bottom:20px;}
.list_nav a{color:#333;}
.list_nav a:hover{color:#F90;}

.list_ul{width:1198px; height:auto; overflow:hidden; border:#ccc solid 1px; font-size:16px; margin:10px auto;}
.list_ul ul li{width:100%; border-bottom:1px #ccc solid; margin:10px auto; padding-bottom:5px;}
.list_ul ul li span{line-height:40px; padding:10px 20px; font-weight:bold;}
.list_ul ul li a{line-height:40px; padding:10px; color:#333; margin:0 10px;}
.list_ul ul li a:hover{background:#F90; color:#fff;}

.lis_nav{width:100%; height:48px; line-height:48px;  background:#f4f4f4; border-bottom:#209192 2px solid; font-size:18px; color:#333; }
.lis_nav span{color:#F90;}

.list_text{width:795px; height:auto; overflow:hidden;padding:20px 0; border-bottom:1px dashed #ccc;}
.list_text .pic{float:left; width:290px;}
.list_text .text{float:right; width:500px; line-height:33px; font-size:16px; color:#333;}
.texbt{float:right; width:450px; line-height:33px; font-size:16px; color:#333;}
.texbt p{line-height:35px;}
.texbt h2{font-size:16px; line-height:40px;}
.texbt h2 a{color:#333;}
.texbt h2 a:hover{color:#F90;}


/*登陆注册*/
.dlbg{width:100%; height:600px; background:url(../images/dlbg.jpg) center;}
.dl_box{width:1200px; height:600px; margin:0 auto; position:relative;}
.dl_left{width: 465px;height: 495px;position: absolute;left: 27px;top: 45px}
.dl_right{width: 640px;height: 495px;position: absolute;left: 527px;top: 45px}
.tlie_dl{line-height:60px; text-align:center; color:#fff; font-size:24px; margin-bottom:15px;}
.dl_left li{line-height:60px; line-height:60px; margin-bottom:20px;	}
.dl_left li input{width:315px; height:60px; background:#fff; padding-left:5px; border:none;}
.dl_left li span{padding:20px 10px; color:#fff; font-size:24px;}
.bot_a{width:315px; height:60px; font-size:24px; float:right; text-align:center; margin-right:8px;}
.bot_a a{color:#fff; display:block;width:315px; height:60px; background:#209192; }
.dl_right p{line-height:30px; color:#fff; font-size:18px; margin:20px 0;}



/*详情页焦点图*/
.inkPhoBox { width: 732px; padding:20px 0; margin:0 auto; overflow:hidden;}
.inkPhoBox .main{ width:732px;}
.inkPhoBox .mod18{width:677px;position:relative;}
.inkPhoBox #prev{ background: url(../images/prevBtn.png) no-repeat; height: 48px; width: 24px; position: absolute; z-index: 99; left: 0px; top: 25px; cursor: pointer; }
.inkPhoBox #next{ background: url(../images/nextBtn.png) no-repeat; height: 48px; width: 25px; position: absolute; z-index: 99; top: 25px; right: 0px; cursor: pointer; }
.inkPhoBox .mod18 #prevTop{display:none}
.inkPhoBox .mod18 #nextTop{display:none}
.inkPhoBox .mod18 li{float:left;}
.inkPhoBox .mod18 .cf li{position:relative;color:#fff;}
.inkPhoBox .mod18 .cf a{display:block;width:526px;height:377px;position:absolute;color:#fff;}
.inkPhoBox .mod18 .cf li span{display:block;width:688px;position:absolute;left:0;bottom:0;padding:10px 20px;line-height:22px;text-align:left;background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#60000000",endColorstr = "#60000000");}
.inkPhoBox .bigImgBox{width: 688px; height: 400px; border: 1px solid #E1E1E1; padding:21px; }
.inkPhoBox .mod18 .picBox{width: 688px; height: 400px; position: relative; overflow: hidden;}
.inkPhoBox .mod18 .picBox ul{height:400px;position:absolute; left:0;}
.inkPhoBox .mod18 .picBox li{ width: 688px; height: 400px;}
.inkPhoBox .smImgBox{ width: 707px; height: 80px; padding: 11px; border: 1px solid #E1E1E1; margin-top: 12px; position: relative; }
.inkPhoBox .mod18 .listBox{ width: 707px; height:80px; margin: 0 auto; position: relative; overflow: hidden; }
.inkPhoBox .mod18 .listBox ul{height:101px;position:absolute; padding-left:0px;}
.inkPhoBox .mod18 .listBox li{ width: 134px; height90px; cursor: pointer; position: relative; padding: 0 9px 0 0; }
.inkPhoBox .mod18 .listBox li i{display:none;}
.inkPhoBox .mod18 .listBox li a{display:block;width:134px;height:101px;}
.inkPhoBox .mod18 .listBox .on img{border:2px solid #B42222; width:130px; height:76px;}
.inkPhoBox .mod18 .listBox .on { background:url(../images/img_bg.jpg) center top no-repeat;}
.inkPhoBox .mod18 .listBox .on i{display:block;}
.inkPhoBox .left_top { font-family:Arial; font-size:32px; color:#fff; text-align:center; height:30px; line-height:30px; background:#333}
.listBox .cf li  img{ width:130px; height:80px;}

/**/
.hous_title{width:100%; height:90px; border-bottom:1px #ccc solid; margin-bottom:20px;}
.titli_h2{width:100%; height:50px; line-height:50px; font-size:20px; color:#333; text-align:center;}
.hous_bz{width:100%; height:40px; line-height:30px; text-align:right; font-size:14px; color:#666;}
.lis_nr{width:100%; height:auto; overflow:hidden; font-size:16px; padding:10px 0; border-bottom:1px #ccc solid;}
.lis_nr p{line-height:30px;}
.lis_nr p span{color:#F90;}
.nr p{line-height:30px; font-size:16px;}
.nr p img{display:block; margin:0 auto;}
.dabiao{width:100%; height:50px; line-height:50px; font-size:18px; color:#333; font-weight:bold;}


.new_list_text li{width:795px;  margin:0 auto; font-size:16px; color:#333; border-bottom:1px dashed #ccc;}
.new_list_text li a{display:block; background:#fff; color:#333; padding:20px 10px; }
.new_list_text li a:hover{display:block; background:#f6f6f6; color:#F90;}
.new_list_text li span{float:right;}



/*foot代码*/


.foot{width:100%; height:180px; background:#4caeae;}
.foot_box{width:1200px; height:180px; margin:0 auto;}
.foot_logo{width:460px; height:180px; background:url(../images/footbg.jpg) right no-repeat; float:left;}
.foot_logo img{display:block; padding:40px 10px 0 150px;}
.foot_text{width:720px; float:left; padding:30px 0 0 20px;}
.foot_text p{line-height:25px; color:#fff;}




.side{position:fixed;width:104px;height:305px;right:0; bottom:100px;z-index:100;}
.side ul{position:absolute; right:0; bottom:100;}
.side ul li{width:54px;height:54px;float:right;position:relative;border-bottom:1px solid #444;}
.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#209192;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#209192;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
.side ul li .sidetop:hover{background:#209192;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}